* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddd;
}
a {
  text-decoration: none !important;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row-reverse !important;
}
.slider {
  height: 500px;
  margin-top: 60px;
}
.slider img {
  max-height: 450px;
}
.carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.footer {
  margin: 20px 0px 10px;
  padding: 20px 10px;
}
.footer a {
  color: rgb(198, 96, 238);
}
.footer .sochial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .sochial li,
.copy {
  margin: 40px 3px 0px 0px;
  text-align: right;
}
.footer ul img {
  max-width: 25px;
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.footer .logo-img{
    width: 100px;
    display: block;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 6px;
    margin-left: 100px;
}
